pandas
ipykernel
google-genai
tabulate
chromadb 
llama-index-embeddings-gemini
llama-index-vector-stores-chroma
llama-index-llms-ollama
llama-index-embeddings-ollama
langchain-ollama

langchain
langchain-community 
langchain-core 
faiss-cpu 
pdfplumber 
pandas 
python-dotenv
tqdm

streamlit
langgraph
langchain-openai 

langchain-google-genai
